
@{
    ViewData["Title"] = "List Page";
    Layout = "~/Views/Shared/MOMLayout.cshtml";
}




<!--start container-->


<div class="divbutton-container">
    <div id="breadcrumbs-wrapper">
        <header>
            <div class="container row-color-grey">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="row">
                            <div class="page-title"><i class="mdi-communication-contacts"></i>&nbsp;Setup</div>
                            <div class="buttonContainer">
                                <div class="btnlinks">
                                    <a ID="btnSubmit" css="icon-save">
                                        Button
                                    </a>

                                </div>
                            </div>
                            <div class="btnclosewrap">
                                <a href="~/dashboard/home/index" class="mdi-content-clear" id="lnkClose" title="Close"><i></i></a>
                            </div>                                <div class="rght-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>


<div class="container" style="text-align: center;">
    <h4> List Page </h4>
</div>

<!--end container-->
