
html, form
{
    height: 100%;
    display: inline-block;
    min-width: 100%;
}
*
{
    margin: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
}
a
{
    outline: none;
    color: #2382B2;
    text-decoration: none; /*font-weight:bold;   */
}
a:hover
{
    outline: none;
    color: #303030;
    text-decoration: none;
}
a:focus
{
    outline: none;
    color: #303030;
    text-decoration: none;
}

body
{
   /* background: url(../images/header_bg.png) repeat-x;*/
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    height: 100%;
    color: #626262;
}
#popupbody
{
    /*background:#EDEEEF;*/
    background: #fff;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    height: 100%;
    color: #626262;
}
#login_body
{
    background: #EDEEEF;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    height: 100%;
}

.main_body_bg
{
    background: url(../images/main_body_bg.png) center center;
    background-size: 100% 100%;
    height: 100%;
    border: none;
}


.clear
{
    clear: both;
}
img
{
    border: none;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
#main
{
    height: auto !important;
    margin: 0 auto -66px;
    min-height: 100%;
    width: 100%;
}
.wrap
{
    margin: 0 5px;
    width: auto;
}
#header_main
{
    height: 65px;
    width: 1327px;    
}
.header_right_bg
{
    background: url(../images/header_right_bg.png) no-repeat;
    height: 106px;
    float: right;
}
.logo
{
    float: left;  
}
.search_box
{
    background: url("../images/search_div_bg.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 31px;
    padding: 10px 10px 0;
    width: 256px;
}
.search_input
{
    background: url(../images/search_input_bg.png) no-repeat;
    border: medium none;
    height: 21px;
    padding: 0 29px 0 5px;
    width: 220px;
}

/*-------------------MENU----------------------------*/
.menu
{
    background: url(../images/menu_bg.png) repeat-x;
    width: 100%;
    height: 36px;
}
#menu_list
{
    list-style: none;
}
#menu_list li
{
    list-style: none;
    float: left;
    padding: 0 30px 0 0;
}
#menu_list li:hover
{
    background: url(../images/active_menu_bg.png) repeat-x;  
    /*-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
    
}

#menu_list li a
{
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 35px;
    padding: 0px 5px;
}
#menu_list li:hover a
{
   /* background: url(../images/active_menu_bg.png) repeat-x;*/
    color: #2382b2;
}
/* Sub level menus*/
#menu_list li ul
{
    position: absolute;
    z-index: 100;
    left: -1;
    top: 1;
    display: none;
    background: #F2F5F7;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    border-left: solid 1px #e6e6e6;
}


#menu_list li ul li
{
    list-style: none;
    float: left;
    padding: 0 0px 0 0;
}
/* Sub level menu links style */
#menu_list li ul li a
{
    font: bold 11px Tahoma, Geneva, sans-serif;
    padding: 2px;
    padding-right: 8px;
    margin: 0;
    border-right: 1px solid #e6e6e6;
    color: #2382b2;
}

#menu_list li ul li a:hover
{
    /*sub menu links' background color onMouseover */
    color: #ff7a0a;
    background: none;
}
/*----------------content-------------------------*/
.content
{
    /*width:1000px;*/ /*margin:20px auto 0px auto;*/
    min-height: 425px;
    width: auto;   
   /* margin-top:148px;*/
}

.title_bar
{
    background: #F2972B;
    width: 100%;
    height: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px; /*margin-top:18px;*/
}

.title_bar_popup
{
    background: #F2972B;
    width: 100%;
    height: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
}

.title_bar_options
{
    background: #B8E5FC;
    width: 100%;
    height: 19px;
    color: #5582B2;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
}


/*----------login box css-----------------------------*/
.login_box_div
{
    position: absolute;
    top: 48%;
    left: 47%;
    margin: -180px 0 0 -200px;
    width: 475px;
}
.login_box
{
    background: url(../images/login_bg.png) no-repeat;
    height: 256px;
    padding: 65px 41px 10px;
    width: 265px;
}
.login_box_outer
{
    background-color: #bccad3;
    border: 1px solid #bccad3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
}

.login_box_inner
{
    margin-bottom: -9px;
    margin-left: -2px;
    margin-top: 5px;
    width: 474px;
    background-color: #e0e7eb;
    border: 1px solid #e0e7eb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
    padding-bottom: 8px;
}
.login_box_inner_wht
{
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(PIE.htc);
    z-index: 1;
    position: relative;
    margin: 10px;
    padding: 10px 0px 10px 58px;
}
.login_logo
{
    padding-bottom: 15px;
    margin-left: -40px;
}
.login_input_fields
{
    padding-bottom: 8px;
}
.login_lbl
{
    float: left;
    text-align: right;
    color: #222;
    /*font-family: 'LucidaGrandeRegular';*/
    font-size: 12px;
    min-width: 100px;
    margin-right: 10px;
    padding-top: 9px;
}
.login_chk
{
    float: left;
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
}
.login_input
{
    /*background: url(../images/input_bg.png) no-repeat;*/
    width: 186px;
    padding: 7px 5px 8px;
    border: none;
    float: left;
    
    outline: medium none;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.sign_in_btn
{
    text-align: center;
    margin-top: 10px;
    margin-left: 110px;
}

.inpu_bg
{
    background: url("../images/input_bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    height: 48px;
    margin-top: 15px;
    padding: 0 5px;
    text-shadow: 0 1px 0 #000000;
    width: 254px;
}
.remember_me
{
    text-align: center;
    color: #477695;
    margin-bottom: 5px;
    font-size: 11px;
   /* margin-left: 41px;*/
}
.remember_me label
{
    padding-left: 5px;
}
.forgot_password
{
    text-align: center;
    color: #477695; /*margin-left: -46px;*/
}
.forgot_password a
{
    color: #477695;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
}

.login_logo_bg
{
	border-style:none;
	background: url(../images/logo_1.png) no-repeat;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 406px; /* Width of new image */
	height: 86px; /* Height of new image */
	/*padding-left: 180px;  Equal to width of new image */
}

.sign_in_btn_bg
{
	border-style:none;
	background: url(../images/sign_in_btn.png) no-repeat;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 94px; /* Width of new image */
	height: 35px; /* Height of new image */
	/*padding-left: 180px;  Equal to width of new image */
}


/*---------------------FORM-------------------------------*/
.register_field
{
    padding-top: 5px;
}
.register_lbl
{
    float: left;
    min-width: 116px;
    text-align: right;
    padding-top: 5px;
    color: #626262;
    display: block;
    font: normal 13px/18px Helvetica;
    margin-right: 10px;
}
.register_lbl_TimeFileds
{
    float: left;
    min-width: 45px;
    text-align: right;
    padding-top: 3px;
    color: #626262;
    display: block;
    font: normal 13px/18px Helvetica;
    margin-right: 5px;
}
.register_lbl_middle
{
    float: left;
    min-width: 90px;
    text-align: right;
    padding-top: 5px;
    color: #626262;
    display: block;
    font: normal 13px/18px Helvetica;
    margin-right: 10px;
}

.register_input_bg_generic
{
    /* background: url("../images/form_input_bg.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/20px Arial,Helvetica,sans-serif;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_generic:focus
{
   /* border-color: #A3A3A3;*/
  border-color: #3399FF;
}

.register_input_bg
{
    /* background: url("../images/form_input_bg.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    width: 188px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg:focus
{
    border-color: #3399FF;
}

.register_input_bg_money
{
    /* background: url("../images/form_input_bg.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/20px Arial,Helvetica,sans-serif;
    height: 24px;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    width: 66px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_money:focus
{
    border-color: #3399FF;
}

.register_input_bg_address
{
    /* background: url("../images/form_input_bg_3.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    width: 398px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_address:focus
{
    border-color: #3399FF;
}


.register_input_bg_customer
{
    /* background: url("../images/form_input_bg_4.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    width: 500px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_customer:focus
{
    border-color: #3399FF;
}


.register_input_bg_ddl
{
    /* background: url("../images/form_input_bg.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    height: 28px;
    margin: 1px;
    outline: medium none;
    padding: 1px 5px 3px 5px;
    width: 198px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_ddl:focus
{
    border-color: #3399FF;
}

.register_input_bg_ddl1 .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    background: url("../images/form_input_bg.png") no-repeat scroll left top transparent;
    border: 0 none;
    color: #686767;
    font: 14px/31px Arial,Helvetica,sans-serif;
    height: 28px;
    margin: 0 0 0 0px;
    outline: medium none;
    padding: 3px 5px;
    width: 175px;
}
.register_input_bg_ddl1 .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    margin: 0;
    padding: 0;
    background-image: url(../images/toolkit-arrow.gif);
    background-position: top left;
    border: 0px none;
    width: 15px;
    height: 15px;
}
.register_input_bg_ddl1 .ajax__combobox_itemlist
{
    border-color: #7F9DB9;
}

.register_input_bg_big
{
    /* background: url("../images/form_input_bg2.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    width: 258px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_big:focus
{
    border-color: #3399FF;
}

.register_input_bg_small
{
    /* background: url("../images/form_input_bg_1.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 1px;
    outline: medium none;
    padding: 0 5px;
    width: 183px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_small:focus
{
    border-color: #3399FF;
}
.register_input_bg_ddl_small
{
    /* background: url("../images/form_input_bg_1.png") no-repeat scroll left top transparent;     border: 0 none;*/
    color: #686767;
    font: 14px/23px Arial,Helvetica,sans-serif;
    margin: 1px;
    outline: medium none;
    padding: 1px 5px 3px 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-box-shadow: 0px 0px 1px #CCCCCC;
    box-shadow: 0px 0px 1px #CCCCCC;
    -webkit-appearance: none;
}
.register_input_bg_ddl_small:focus
{
    border-color: #3399FF;
}

.blue_btn
{
    text-align: center;
    margin-top: 20px;
}
.input_btn
{
    background: url("../images/blue_btn.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    text-decoration: none;
    outline: none;
}

.input_btn div input
{
    background: url("../images/blue_btn.png") no-repeat scroll right -30px transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 29px;
    margin-left: -1px;
    margin-right: -7px;
    outline: medium none;
    padding-left: 18px;
    padding-right: 14px;
}

.table_Permission
{
    float: left;
    text-align: left;
    color: #626262;
    font: normal 13px/18px Helvetica;
    margin-left: 30px;
}

.table_Permission label
{
    margin-left: 10px;
}

.Close_button
{
    float: left;
    color: #fff;
    margin-left: 750px;
    padding-top: 2px;
}



.titlebar_buttons
{
    float: left;
    margin-left: 20%;
    padding-top: 1px;
}
.titlebar_buttons a
{
    color: #fff;
    margin-left: 20px;
}

.save_button
{
    float: right;
    color: #fff;
    margin-left: 45px;
    padding-top: 2px;
}

.save_button:focus
{
    float: right;
    color: #D8DFE4;
    margin-left: 45px;
    padding-top: 2px;
}


.close_button_Form
{
    color: #FFFFFF;
    float: right;
    margin-left: 24px;
    padding-top: 2px;
}
.close_button_Form:focus
{
    color: #D8DFE4;
    float: right;
    margin-left: 24px;
    padding-top: 2px;
}

.title_text
{
    margin-left: 20px;
    font-size: 16px;
    float: left;
}

.title_text_Name
{
    margin-left: 20px;
    font-size: 16px;
    float: left;
    color: #000;
    min-width: 600px;
    max-width: 600px;
}

.title_text_Name_1
{
    margin-left: 20px;
    font-size: 11px;
    float: left;
    color: #000;
    min-width: 120px;
    padding-top: 4px;
}

.title_bar_sub
{
    border-style: solid solid none solid;
    background: #F2972B;
    width: 100%;
    height: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    border-width: 1px;
    border-color: #F2972B;
}
.title_bar_sub a
{
    color: #fff;
}
.title_bar_sub span
{
    color: #fff;
    font-size: 14px;
}



/*----------------------FOOTER--------------------------*/
.push
{
    height: 66px;
}
#footer
{
    background: url("../images/footer_bg.png") repeat-x scroll left top transparent;
    height: 66px;
    margin: 0px 0 0;
    width: 100%;
}
.footer_container
{
    margin: 0 auto; /*width: 1000px; 	text-align:center;*/
    font: normal 10px Arial, Helvetica, sans-serif;
    position: relative;
    top: 34px;
    color: #000;
    margin-left: 558px;
}

/*--------------------Grid------------------------------*/


.altrowstable
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
.altrowstable th
{
    border-width: 1px;
    padding: 3px 8px 3px 8px; /*border-style: solid; 	border-color: #a9c6c9;*/
    color: #2382b2;
    font-size: 13px;
    border-style: none;
    text-align: left;
    background-color: #B8E5FC;
}
.altrowstable a
{
    text-decoration: none;
    color: #2382B2;
}
.altrowstable td
{
    border-width: 1px;
    padding: 3px 8px 3px 8px;
    text-align: left; /*border-style: solid; 	border-color: #a9c6c9;*/
    border-style: none;
}
.oddrowcolor
{
    background-color: #fff;
}
.oddrowcolor:hover
{
    background-color: #B8E5FC;
}
.evenrowcolor
{
    background-color: #eaf8ff;
}
.evenrowcolor:hover
{
    background-color: #B8E5FC;
}
.selectedrowcolor
{
    background-color: #F9BE7A;
}
.Hide
{
    display: none;
}
.footer
{
    border-width: 1px;
    padding: 3px 8px 3px 8px;
    color: #2382b2;
    font-size: 13px;
    border-style: none;
    text-align: left;
    background-color: #B8E5FC;
    font-weight: bold;
}

.rowpointer
{
    cursor:pointer;
}


/*-------Popup--------*/

.pnlUpdate
{
    right: 31%;
    top: 28%;
    position: fixed; /*width: 500px;*/
    z-index: 10011;
    background: #fff;
    border: solid;
}
.pnlUpdateoverlay
{
    /*background-color: #000000;*/
    background-color:transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10010;
    filter: alpha(opacity=50);
    -moz-opacity: 0.50;
    opacity: 0.50;
}

.next_button
{
    padding-top: 0px;
}

/* popup css */

#backgroundPopup
{
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    border: 1px solid #cecece;
    z-index: 1;
}
#popupContact
{
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 120px;
    width: 320px;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 2;
    padding: 40px;
    font-size: 13px;
}
#popupContactClose
{
    font-size: 14px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #6fa5fd;
    font-weight: 700;
    display: block;
}

.lblMsg
{
    font-size: 15px;
    font-weight: bold;
    color: #CC0000;
}

.hoverGrid
{
    display: none;
    position: absolute;
   /* background: #fff;
    border: 1px solid #cccccc;
    color: #6c6c6c;   */
    min-width: 300px;
    max-width:800px;
    min-height: 20px;
    /*font-weight: bold;*/
    font-size: 14px;
    padding: 5px 5px 5px 5px; 
    background: black;
    color: #FFF;  
      
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.menumain:hover
{
    background-color: #F2C591;
}


.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: #fff;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
    background-color: #ffff99;
    color: black;
    padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem
{
    background-color: window;
    color: windowtext;
    padding: 1px;
}

.processMessage
{
    position: fixed;
    top: 50%;
    left: 35%;
    padding: 10px;
    z-index: 10011;
}

/* Ticket Css */

.DPDA
{
    background: url("../images/1331034893_pda.png") no-repeat right bottom transparent;
}

.Confirmed
{
    background: url("../images/1331036429_Check.png") no-repeat right bottom transparent;
}

.Reviewed
{
    background: url("../images/review.png") no-repeat right bottom transparent;
}

.white_rounded
{
    /*width:655px;*/
    padding: 10px 0px 10px 0px;
    border: 1px solid #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /*behavior: url(css/ie-css3.htc);*/ /*z-index:9999;*/
    background-color: #fff;
    position: relative;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header
{
    margin-bottom: 8px;
}
.ui-timepicker-div dl
{
    text-align: left;
}
.ui-timepicker-div dl dt
{
    height: 25px;
    margin-bottom: -25px;
}
.ui-timepicker-div dl dd
{
    margin: 0 10px 10px 65px;
}
.ui-timepicker-div td
{
    font-size: 90%;
}
.ui-tpicker-grid-label
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.menu_popup_chklst
{
    position: absolute;
    /*top: 251px;
    right: 57px;*/
    z-index: 1;
    display: none;
    background: transparent;
    overflow: auto; /*border:solid 1px black;  	width:550px; */
    max-height: 260px;
    min-height: 10px;
    overflow-x: hidden;
}

.menu_popup_grid
{
    background: none repeat scroll 0 0 transparent;
    display: none;
    max-height: 260px;
    min-height: 10px;
    overflow: auto;
    position: absolute; /* right: 603px;     top: 313px;     width: 633px;     border: 1px solid black;*/
    z-index: 1;
    overflow-x: hidden;
}

.shadow
{
    /* rgba(0, 0, 0, 0.3) rgb(90, 168, 208)*/
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.shadowHover:hover
{
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/* Signature popup */
.sign_popup
{
    background: url("smoothness/images/ui-bg_diagonals-thick_20_666666_40x40.png") repeat scroll 0 0 transparent;
    display: none;
    float: right;
    height: 174px;
    margin-right: 18px; /*310px;*/
    margin-top: -196px;
    position: relative;
    width: 308px;
    z-index: 9999;
    padding: 5px 5px 5px 5px;
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sign_popup a
{
    color: #fff;
    font-weight: bold;
}

.popimp
{
    position: relative !important;
}


.TotalText
{
    font-weight: bold;
}

.texttransparent
{
    border: none;
    background: transparent;
}

.homeicons
{
    float: left;
    margin: 0px 10px 10px 0;
    width: 80px;
    padding-left: auto;
    padding-right: auto;
}

.homeTables
{
    margin: 0px 20px 0px 50px;
    /*float: left;*/
    height: 130px;
}
.callcodepopup
{
    left: 247px;
    top: 100px;
    position: absolute;
    z-index: 10020;
    background-color: #fff;
    border: solid 1px gray;
    min-width: 559px;
    max-width: 559px;
    min-height: 300px;
    max-height: 300px;
}

.Merchantpopup
{
    position: absolute;
    z-index: 10020;
    background-color: #fff;
    border: solid ;
    min-width: 400px;
    max-width: 400px;    
    margin-left: -205px;
    top: -100px;
    left: 50%;
}

.OuterPopup
{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    display:none;
}

.buttons
{
    float: left;
    color: #fff;
    margin-left: 25px;
    padding-top: 2px;
}
.buttons:hover
{
    float: left;
    color: #CCC9C9;
    margin-left: 25px;
    padding-top: 2px;
}
.buttons:focus
{
    float: left;
    color: #CCC9C9;
    margin-left: 25px;
    padding-top: 2px;
}

.buttonsRight
{
    float: right;
    color: #fff;
    margin-right: 25px;
    padding-top: 2px;
}
.buttonsRight:hover
{
    float: right;
    color: #CCC9C9;
    margin-right: 25px;
    padding-top: 2px;
}
.buttonsRight:focus
{
    float: right;
    color: #CCC9C9;
    margin-right: 25px;
    padding-top: 2px;
}

.buttonsBox
{
    float: right;
    color: #fff;
    margin-right: 25px;
    padding-top: 2px;
}
.buttonsBox:hover
{
    float: right;
    color: #CCC9C9;
    margin-right: 25px;
    padding-top: 2px;
}
.buttonsBox:focus
{
    float: right;
    color: #CCC9C9;
    margin-right: 25px;
    padding-top: 2px;
}

.SpaceDiv
{
    float: left;
    margin-left: 700px;
    padding-top: 2px;
}

.roundCorner
{
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.pac-container { min-width: 400px; }

.ValidatorPosition
{
    left :371px;
    top:38px;
    position:absolute;
   color:#fff;
   background:black;
   width:300px;
}

/********* Ticket translation box ********/

.Translatebox
{
    position: absolute; 
    z-index: 10021;
    margin-top: 2px; 
    background-color: #fff; 
    border: solid 1px #2382CC;    
    left: 350px;
}

.gridButtonspanel
{
    border-style: solid solid none solid;
    background-position: #B8E5FC; 
    background: #B8E5FC; 
    width: 998px; 
    height: 25px;
    color: #23AEE8; 
    font-weight: bold; 
    font-size: 12px; 
    padding-top: 5px; 
    border-width: 1px;
    border-color: #a9c6c9;
}

.gridHeaderFixed
{
    overflow: auto;
    position:absolute; 
}

.DivloadingGif
{
     background-image:url(images/loader_round.gif); background-repeat: no-repeat; background-position:center; 
}

/******* Jquery autocomplete *******/
.ui-autocomplete
{
    max-width: 600px;
    max-height: 300px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */ /*padding-right: 20px;*/
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */* html .ui-autocomplete
{
    height: 300px;
}
.highlight
{
    background-color: Yellow;
}
.mycheckbox input[type="checkbox"]
{
    margin-right: 5px;
}
/******* Jquery autocomplete *******/

.shadowmenu
{
    /* rgba(0, 0, 0, 0.3) rgb(90, 168, 208)*/
    
    -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.salesgriddiv
{
    border-style: solid solid solid solid;     
    width: 898px; 
    height: 18px; 
    color: #23AEE8; 
    font-weight: bold; 
    font-size: 12px;
    padding-top: 5px; 
    border-width: 1px; 
    border-color: #a9c6c9;
}
