.id {
    background-color : #F6F6F6 !important;
    background-image : -moz-linear-gradient(left center, #F6F6F6, #E9E9E9) !important;
    background-image : -webkit-linear-gradient(left, #F6F6F6, #E9E9E9) !important;
    background-image : linear-gradient(left, #F6F6F6, #E9E9E9) !important;
}

.gnt-color-palette {
    background-color : #E9F2FF;
    border           : 1px solid #8EAACE;
    position         : absolute;
    height           : 95px;
    width            : 152px;
}

.first-row .sch-gantt-labelct-left {
    display : none;
}

.sch-ganttview .kickoff {
    border-left : 2px dotted #00a000;
}

.sch-gantt-project-line-text {
    background-color : #f33;
    left             : -1px;
}

.sch-rollup-wrap .sch-gantt-progress-bar span {
    display : none;
}

.enable-taskarea .gnt-taskarea {
    display : block;
}

.filterfield {
    padding: 0 3px;
}

.filterfield input {
    border-left   : 0;
    border-right  : 0;
    border-bottom : 0;
    padding-right : 10px;
    padding-left  : 30px;
}

.x-rtl .filterfield input {
    padding-right : 30px;
    padding-left  : 10px;
}

.filterfield .x-form-text-wrap:before {
    content  : "\f002";
    font     : 20px/1 FontAwesome;
    color    : #bbb;
    margin   : 5px;
    position : absolute;
}

.gnt-datepicker-nonworkingday.gnt-chinese-holiday .x-datepicker-date,
.gnt-datepicker-overriddenday.gnt-chinese-holiday,
.sch-column-header.gnt-chinese-holiday,
.sch-zone.gnt-chinese-holiday {
    background-color : #a5eeff;
}

.gnt-datepicker-nonworkingday.gnt-national-holiday .x-datepicker-date,
.gnt-datepicker-overriddenday.gnt-national-holiday,
.sch-column-header.gnt-national-holiday,
.sch-zone.gnt-national-holiday {
    background-color : #ffadad;
}

.sch-zone.gnt-national-holiday {
    background-position : center 140px !important;
    background-repeat   : no-repeat;
}

.namecolumn .x-column-header-inner {
    padding : 8px 8px 4px 8px;
}

.namecolumn .x-column-header-inner:hover {
    background-image: none;
    background-color: #eaeff4
}

/* toolbar & icons */

.gantt-secondary-toolbar {

    background : #5fa2dd;
}

.x-panel-header .x-tool > div {
    font       : 20px/1 FontAwesome;
    background : none;
    width      : 20px;
    height     : 20px;
    margin     : 0 2px;
}

.x-panel-header .x-tool-disabled > div {
    color : #cfcfcf;
}

.x-panel-header .x-mask {
    background : none;
    filter     : none;
}

.icon-previous > div:first-child:before {
    content     : "\f104";
    font-weight : bold;
}

.icon-next > div:first-child:before {
    content     : "\f105";
    font-weight : bold;
}

.icon-expand-all > div:first-child:before {
    content     : "\f103";
    font-weight : bold;
}

.icon-collapse-all > div:first-child:before {
    content     : "\f102";
    font-weight : bold;
}

.icon-zoom-in > div:first-child:before {
    content : "\f00e";
}

.icon-zoom-out > div:first-child:before {
    content : "\f010";
}

.icon-zoom-to-fit > div:first-child:before {
    content : "\f0b2";
}

.icon-undo > div:first-child:before {
    content : "\f0e2"
}

.icon-redo > div:first-child:before {
    content : "\f01e"
}

.icon-fullscreen > div:first-child:before {
    content   : "\f108";
    font-size : 0.8em;
}

.icon-critical-path > div:first-child:before {
    content : "\f06d";
}

.icon-add-task > div:first-child:before {
    content : "\f067";
}

.icon-remove-task > div:first-child:before {
    content : "\f068";
}

.icon-indent > div:first-child:before {
    content : "\f03c";
}

.icon-outdent > div:first-child:before {
    content : "\f03b";
}

.icon-calendar > div:first-child:before {
    content : "\f073";
}

.icon-save > div:first-child:before {
    content : "\f0c7";
}

.icon-settings > div:first-child:before {
    content : "\f013";
}

.icon-print > div:first-child:before {
    content : "\f02f";
}

/* EOF toolbar icons */
