
@{
    ViewData["Title"] = "Data Import Page";
    Layout = "~/Views/Shared/MOMLayout.cshtml";
}




<!--start container-->

<div class="divbutton-container">
    <div id="breadcrumbs-wrapper">
        <header>
            <div class="container row-color-grey">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="row">
                            <div class="page-title"><i class="mdi-communication-contacts"></i>&nbsp;Data Import</div>
                            <div class="buttonContainer">

                                <div class="btnlinks">
                                    <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="dynamicUI1">
                                        Download sample  file
                                    </a>
                                </div>
                                <ul id="dynamicUI1" class="dropdown-content">
                                    <li>
                                        <a   href="#">Customer</a>
                                    </li>
                                    <li>
                                        <a   href="#">Location</a>
                                    </li>
                                    <li>
                                        <a   href="#">Equipment</a>
                                    </li>
                                    <li>
                                        <a   href="#">Recurring Contract</a>
                                    </li>
                                    <li>
                                        <a   href="#">Tickets</a>
                                    </li>
                                    <li>
                                        <a   href="#">AP Bill</a>
                                    </li>
                                    <li>
                                        <a   href="#">AR Invoice</a>
                                    </li>
                                </ul>

                                <div class="btnlinks">
                                    <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="dynamicUI">
                                        Import
                                    </a>
                                </div>
                                <ul id="dynamicUI" class="dropdown-content">
                                    <li>
                                        <a   href="#">Customer</a>
                                    </li>
                                    <li>
                                        <a   href="#">Location</a>
                                    </li>
                                    <li>
                                        <a   href="#">Equipment</a>
                                    </li>
                                    <li>
                                        <a   href="#">Recurring Contract</a>
                                    </li>
                                    <li>
                                        <a   href="#">Tickets</a>
                                    </li>
                                    <li>
                                        <a   href="#">AP Bill</a>
                                    </li>
                                    <li>
                                        <a   href="#">AR Invoice</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btnclosewrap">
                                <a href="~/dashboard/home/index" class="mdi-content-clear" id="lnkClose" title="Close"></i></a>
                            </div>                                <div class="rght-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<!-- edit-tab start -->
<div class="container accordian-wrap">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="form-content-wrap formpdtop2">
                            <div class="form-content-pd">
                                <div class="form-section-row">
                                    <div class="col s12 m12 l12" style="padding-right: 0px;">
                                        <div class="row">
                                            <div class="form-section-row">
                                                <div class="form-section3"> 

                                                    <div class="input-field col s5">
                                                        <div class="row">
                                                            <input type="file" css="dropify" />


                                            
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                         

                                        </div>
                                        <div class="cf"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

        <!--end container-->
