.editbtns {
    display: none;
    margin-top: 20px;
    position: absolute;
}

.editbtns-sml {
    display: none;
    margin-top: 5px;
    position: absolute;
}

.card-stats-title > i {
    font-size: 2em !important;
}

.card {
    border-radius: 6px;
}

    .card .card-content {
        padding: 10px 14px;
    }

.card-move-up {
    position: relative;
}


.card {
    overflow: hidden;
}

.kpi-card .card-content {
    text-align: center;
}

.kpi-card .card-stats-title {
    font-size: 1.2rem;
    margin: 10px 0;
}

    .kpi-card .card-stats-title i {
        font-size: 1.2rem;
    }

.kpi-card .card-stats-compare {
    font-size: 1.0rem;
}

    .kpi-card .card-stats-compare i {
        position: relative;
        top: 5px;
    }

.kpi-card .card-stats-number {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
}

.kpi-card .card .card-content {
    padding: 10px 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.kpi-card .card .card-action {
    padding: 10px 14px;
}


.white-text {
    font-weight: bold;
}

.dashboard-main {
    background: #272C32;
    position: relative;
}

.dashboard-nav {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: inherit;
}

.dashboard-title {
    font-size: 30px !important;
    font-weight: 700 !important;
    color: #e64848 !important;
    width: auto !important;
    float: left;
    border: none !important;
    background-color: transparent !important;
}

input[type=text][readonly="readonly"].dashboard-title {
    color: #fff !important;
}

.col {
    position: relative;
}

.close-content {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 999999;
    color: #fff;
    display: block;
    padding: 4px 10px;
    font-size: 20px;
    cursor: pointer;
}

.total-equipment-label {
    position: absolute;
    color: darkblue;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    text-align: center;
}

.total-equipment-building-label {
    position: absolute;
    color: darkblue;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    /*transform: translate(-130px, -50%);*/
    transform: translate(-50%, -50%);
    width: 90px;
    text-align: center;
}

.total-revenue-label {
    position: absolute;
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -50%);
    width: 125px;
    text-align: center;
}

.RadDockZone {
    border: none!important;
}

    .RadDockZone .RadDock {
        /*padding: 0 0.75rem;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-clip: content-box;*/
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
    }

.RadDock .rdTitleWrapper {
    position: relative;
    padding: 15px 5px;
}

.RadDock_Bootstrap {
    border: none!important;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.RadDockZone .RadDock .rdTitleWrapper {
    background-color: #303f9f;
    border-radius: 6px 6px 0 0;
}

    .RadDockZone .RadDock .rdTitleWrapper .rdTitle {
        color: #fff;
        font-weight: bold;
        line-height: 22px;
        font-size: 19px;
        max-width: 80%;
    }

.RadDock .rdCommandButton {
    color: #fff;
}

.rdCommandButton.rdCollapse {
    display: none;
}

.rdCommandButton.maximize:before {
    content: "\e528" !important;
}

.rdCommandButton.minimize:before {
    content: "\e529" !important;
}

/*Select graph*/
.select-graph-combobox {
    background: #fff;
    border-radius: 6px;
}

.select-graph-button {
    padding: 2px 20px;
    height: 40px;
}

.select-graph {
    float: right;
    text-align: right;
}

    .select-graph .graph-list {
        display: none;
    }

        .select-graph .graph-list .graph-list-content {
            display: inline-flex;
            background: cadetblue;
            position: absolute;
            width: 960px;
            right: 10px;
            z-index: 997;
            overflow-x: scroll;
        }

        .select-graph .graph-list .graph-item {
            float: left;
            padding: 10px 20px;
            width: 160px;
        }

            .select-graph .graph-list .graph-item .graph-link {
                text-align: center;
                display: block;
            }

                .select-graph .graph-list .graph-item .graph-link .graph-title {
                    color: #fff;
                    font-size: 12px;
                    line-height: 16px;
                }

                .select-graph .graph-list .graph-item .graph-link .graph-content img {
                    width: 120px;
                    height: auto;
                    margin-left: auto;
                    margin-right: auto;
                }

.trouble-calls-equipment .rgDataDiv {
    height: 300px !important;
}

.dock-wide .trouble-calls-filter .category-dropdown{
    width: 300px!important;
}

.dock-wide .trouble-calls-filter .top-date-filter {
    width: 300px !important;
}

.dock-normal .trouble-calls-filter .category-dropdown {
    width: 135px !important;
}

.dock-normal .trouble-calls-filter .top-date-filter {
    width: 240px !important;
}