/*!Don't remove this!
 * jQuery DCalendar and DCalendar Picker plugin styles
 * 
 * Author: Dionlee Uy
 * Email: dionleeuy@gmail.com
 *
 * Date: Mon Mar 2 2013
 */
.calendar {
	position: relative;
	font-family: 'Century Gothic', 'Segoe UI', Calibri, Arial;
	font-size: 12px;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	z-index: 4;
	border:none;
	width: 100%;
	color: #000;
	font-weight:bold;
	text-align: center;/*background-color: #FFF;*/
}
.calendar th, .calendar td {
	text-align: center;
	-webki-ttransition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.calendar th:first-child, .calendar td:first-child {
	margin-left: 5px;
}
.calendar span {
	background: #459bc8 none repeat scroll 0 0;
	border-radius: 4px;
	color: #fff;
	display: block;
	margin: 5px;
	padding: 9px 4px;
}
.calendar span:hover {
	background-color: #8ed9fa;
	color:#241e3c;
}
.calendar .month {
	padding: 15px;
}
.calendar .pMDate, .calendar .nMDate {
	color: #AAA;
}
.calendar .date, .calendar .pMDate, .calendar .nMDate, .calendar .month {
	cursor: pointer;
}
.calendar .date:hover, .calendar .pMDate:hover, .calendar .nMDate:hover, .calendar .month:hover { /*background-color: #E2E2E2;*/
}
.calendar .date:active, .calendar .pMDate:active, .calendar .nMDate:active, .calendar .month:active {
	background-color: #22A7F0;
	color: #FFF;
}
.calendar .selected {
	background-color: #22A7F0 !important;
	color: #FFF !important;
}
.calendar tr:first-child th {
	background: #0d4f71 none repeat scroll 0 0;
	color: #fff;
	line-height: 30px;
	padding: 4px;
	padding-top: 8px;
	font-size: 14px;
}
.calendar tr:first-child th {
	cursor: pointer;
	color:#fff;
}
.calendar tr:first-child th:hover {
	color:#22A7F0;
}
.calendar tr:first-child th:active {
	color: #22A7F0;
}
.calendar thead tr:nth-child(2) th {
color: #fff;
padding: 8px 3px;
}
.calendar #prev, .calendar #next {
	font-family: 'Times New Roman';
	font-size: 20px;
	padding: 0;
}
.calendar #today {
	text-align: center;
	cursor: pointer;
	color: #fff;
	padding: 10px 6px;
	display:none;
}
.calendar #today:hover {
	color: #80A7DD;
}
.calendar #today:active {
	color: #000;
}
.calendar #currDay span {
	color:#fff;
	background:#ee0c19;
}
.datepicker {
	background: url('./icon.png') transparent right no-repeat;
	background-size: contain;
}
.event-box {
	background: #0d4f71 none repeat scroll 0 0;
	display: inline-block;
	padding: 5px 10px;
	width: 100%;
	margin-top:5px;
}
.event-box a {
	border:1px #fff solid !important;
	margin-right:10px;
}
a.all-notes {
	border: medium none !important;
	float: right;
	line-height: 43px;
	margin: 0;
}
a.all-notes i {
	font-size:20px;
}
.event-time {
	font-size:14px;
	color:#fff;
	padding:0;
	margin-top:5px;
}
.event-time a {
	margin:0;
	border: medium none !important;
	float:right;
}
.event-time a i {
	font-size:26px;
	color:#8ed9fa;
}
