
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MOMLayout.cshtml";
}

<!--start container-->
 
    <div class="container" style="text-align: center;">
        <h4>Welcome to Mobile Office Manager v5.0 </h4>
    </div>
 
<!--end container-->
