/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


/* *{
  font-family: 'Rubik', sans-serif;
} */

h1, h2, h3, h4, h5, h6, p, i {
    color: white !important;
}

.card {
    background: transparent !important;
    /* border: 1px solid #ffffffc7 !important; */
}

/* .card-body{
  border: 1px solid #ffffffc7 !important;
} */

.navs {
    line-height: 45px;
    color: white;
}


.search-bar {
    border-radius: 20px;
    width: auto;
}

.search-bar-btn {
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
}

.avatar {
    height: 35px;
    width: 35px;
    margin: 10px 0px 10px 15px;
}

.bck_clr {
    background-color: #3e4146 !important;
    /* background-image: url(../../images/transparent.jpg); */
    /*object-fit: fill;*/
    /* height: 100%; */ /*You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /*  min-width: 100% !important;
  min-height: calc(100% + 165px) !important;*/
}

.txt_clr {
    color: black;
}

.box-title {
    font-size: x-large !important;
}

.box-content {
    line-height: 18px;
    color: grey;
    font-size: smaller;
    font-weight: bold;
}

.card-padding {
    padding-left: 0px !important;
}

.card-icon {
    float: right;
    font-size: xx-large;
    color: #AAAAAA;
    /*margin-top: -60px;*/
}

.shadows {
    box-shadow: 0 .10rem 0.5rem rgba(0,0,0,.15) !important;
}

.shadowz {
    box-shadow: 1px 1px 6px -4px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #1c5fb1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #b8c3d5;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.sidebar-bullet {
    height: 12px;
    width: 12px;
    margin-right: 7px;
    margin-bottom: 4px;
}

.sidebar-bullet-hr {
    border-bottom: 1px solid #b8c3d542;
}

.card_back {
    /*background-color: #f9fbfd;*/
    /*background-image: url(../../images/transparent2.png);*/
    background-color: #272c32;
    /* border: 1px solid #E7E7E7; */
}

.logo {
    padding: 10px 20px;
}

.badge {
    margin-top: -8px;
    margin-bottom: 25px;
    margin-right: 5px;
    font-size: x-small;
    font-weight: bold;
}

.crdback {
    padding: 1.05rem 1.5rem 0px 1.5rem !important;
    background-color: #272c32;
}

.pad-right {
    padding-right: 0px !important;
}

.card-text2 {
    margin: 0px auto;
    color: gray;
}

.sidebar_btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin: auto 10px;
}


#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }


        /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
        #sidebar .sidebar-header strong {
            display: none;
        }

        #sidebar.active .sidebar-header h3 {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

        /* Downsize the navigation links font size */
        #sidebar.active ul li a {
            padding: 20px 10px;
            font-size: 0.85em;
        }

            #sidebar.active ul li a i {
                margin-right: 0;
                display: block;
                font-size: 1.8em;
                margin-bottom: 5px;
            }

        /* Adjust the dropdown links padding*/
        #sidebar.active ul ul a {
            padding: 10px !important;
        }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.sidebar_list {
    padding: 5px 0px;
    border-bottom: 1px solid grey;
}

.sidebar-list-a {
    color: #272c32;
}

.sidebar-bullet {
    height: 15px;
    width: 15px;
}

.sidebar-bullet2 {
    height: 11px;
    width: 7px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.sidebar-sub-text {
    font-size: 13.5px;
    color: #272c32;
}

.sidebar-sub-margins {
    margin-top: 3px;
}

.container-main {
    /* padding:35.5px;  */
    /* padding: 42.5px 35.5px 30.5px 35.5px; */
    padding: 40px 35.5px 30.5px 35.5px;
    display: block;
    height: 100% !important;
    /*margin-bottom: -43px !important;*/
}

.card-top-border {
    width: 95%;
    padding: 1px 0px;
    margin: 0px;
    margin-bottom: -9.5px;
    margin-left: 2.5%;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #1c5fb1 !important;
}

.leftsidebar-li-items-margin {
    margin-left: 10px !important;
}

/*Floating button*/
.open-more {
    right: 0px !important;
    -moz-transition-duration: 2s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

    .open-more i {
        transform: rotate(180deg);
        background: #272c32;
    }

.text {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    padding: 0px;
    margin: 0px;
}

.box {
    position: fixed;
    z-index: 800;
    right: -220px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    height: 100% !important;
    background: #272c32;
    box-shadow: 0px 0px 4px 0px #444444;
    cursor: pointer;
}

    .box a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

.icon {
    position: absolute;
    top: 11%;
    left: -35px;
    padding: 5px 10px;
    background-color: #272c32;
    color: #fff;
    border-radius: 20px 0px 0px 20px;
    border-top: 1px solid #d8d8d8b3;
    height: 35px !important;
    width: 35px !important;
    font-weight: bold;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #d8d8d8b3;
}

.button {
    -moz-transform: rotate(-180deg);
    border-radius: 0px 20px 20px 0px;
}


/*Image Box Avatar*/
.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1c5fb1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #1c5fb1;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #1c5fb1;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 2px dashed grey;
    position: relative;
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #1c5fb14a;
        border: 4px dashed #ffffff;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        font-weight: 100;
        font-size: medium;
        color: #B2B2B2;
        padding: 60px 0;
    }

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }

.success-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #1c5fb1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #0202a5;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .success-image:hover {
        background: #0202a5;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .success-image:active {
        border: 0;
        transition: all .2s ease;
    }


/*Arrow Sidebar*/
.arrow-sidebar-text {
    background-color: transparent !important;
    color: white !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26) !important;
}

.left-sidebar-dropdowns {
    background-color: black;
    border-top: 4px solid #1c5fb1;
    border-bottom: 2px solid #1c5fb1;
    color: white;
    font-size: smaller;
}

.card .card-title {
    font-size: 15px;
    font-weight: bold;
}

.dropdown-items {
    line-height: 14px;
}


@media (min-width: 576px) {
    .image-media {
        min-height: 83vh !important;
    }
}

@media (min-width: 768px) {
    .image-media {
        min-height: 83vh !important;
    }
}

@media (min-width: 992px) {
    .image-media {
        min-height: 83vh !important;
    }
}

@media (min-width: 1200px) {
    .image-media {
        min-height: 80vh !important;
    }
}

@media (min-width: 1500px) {
    .container-main {
        padding: 50px 60px;
    }

    .image-media {
        min-height: 80vh !important;
    }
}

/*@media (min-height: 700px) {
    .image-media {
        min-height: 100vh !important;
    }
}*/

.increase-tag {
    font-size: 12px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to bottom right, #001de8, #00ffff);
}

.card-title {
    margin-bottom: 8px;
}

.decrease-tag {
    font-size: 12px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to bottom right, #dc0000, #ffc181);
}

.progress-bar-top {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -24px !important;
    margin-top: 0px;
    height: 5px;
    margin-bottom: 0px;
}

/* Fab btn */

.btn-group-fab {
    position: fixed;
    width: 50px;
    height: auto;
    right: 10px;
    bottom: 10px;
}

    .btn-group-fab div {
        position: relative;
        width: 100%;
        height: auto;
    }

    .btn-group-fab .btn {
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        display: block;
        margin-bottom: 4px;
        width: 40px;
        height: 40px;
        margin: 4px auto;
    }

    .btn-group-fab .btn-main {
        width: 50px;
        height: 50px;
        right: 50%;
        margin-right: -25px;
        z-index: 9;
    }

    .btn-group-fab .btn-sub {
        bottom: 0;
        z-index: 8;
        right: 50%;
        margin-right: -20px;
        -webkit-transition: all 2s;
        transition: all 0.5s;
    }

    .btn-group-fab.active .btn-sub:nth-child(2) {
        bottom: 60px;
    }

    .btn-group-fab.active .btn-sub:nth-child(3) {
        bottom: 110px;
    }

    .btn-group-fab.active .btn-sub:nth-child(4) {
        bottom: 160px;
    }

    .btn-group-fab .btn-sub:nth-child(5) {
        bottom: 210px;
    }

.modal {
    background-color: transparent;
}

.modal-title {
    background-color: transparent !important;
    color: black !important;
}

.modal-body {
    /* background-image: url(../../images/transparent.jpg); */
    background-color: #3e4146;
}

#rotate-cross {
    /* border-radius: 50%; */
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}

    #rotate-cross:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.ui-datepicker {
    background: #272c32;
}

.ui-datepicker-header {
    background: black;
}

@media (min-width: 768px) {
    .overflow-auto {
        display: none;
        /* overflow: hidden !important;
  flex-wrap: nowrap !important; */
        /* overflow-wrap: break-word !important; */
        /* -ms-overflow-style: none !important; */
    }

    .overflow-auto2 {
        display: none;
    }

    /* .overflow-auto:hover{
  overflow: auto !important;
  flex-wrap: nowrap !important;
  -ms-overflow-style: none !important;
 } */
}

@media (max-width: 767px) {
    .overflow-auto {
        height: 444px;
        overflow-y: hidden !important;
        /* flex-wrap: nowrap !important; */
        /* overflow-wrap: break-word !important; */
        -ms-overflow-style: none !important;
    }

        .overflow-auto:hover {
            height: 444px;
            overflow-y: auto !important;
            /* flex-wrap: nowrap !important; */
            -ms-overflow-style: none !important;
        }

    .overflow-none {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    .overflow-auto2 {
        height: 554px;
        overflow-y: hidden !important;
        /* flex-wrap: nowrap !important; */
        /* overflow-wrap: break-word !important; */
        -ms-overflow-style: none !important;
    }

        .overflow-auto2:hover {
            height: 554px;
            overflow-y: auto !important;
            /* flex-wrap: nowrap !important; */
            -ms-overflow-style: none !important;
        }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .overflow-auto2 {
        height: 505px;
        overflow-y: hidden !important;
        /* flex-wrap: nowrap !important; */
        /* overflow-wrap: break-word !important; */
        -ms-overflow-style: none !important;
    }

        .overflow-auto2:hover {
            height: 505px;
            overflow-y: auto !important;
            /* flex-wrap: nowrap !important; */
            -ms-overflow-style: none !important;
        }
}

@media only screen and (max-width: 320px) {
    .overflow-auto2 {
        height: 448px;
        overflow-y: hidden !important;
        /* flex-wrap: nowrap !important; */
        /* overflow-wrap: break-word !important; */
        -ms-overflow-style: none !important;
    }

        .overflow-auto2:hover {
            height: 448px;
            overflow-y: auto !important;
            /* flex-wrap: nowrap !important; */
            -ms-overflow-style: none !important;
        }
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 5px;
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #1d1e1f;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-right: 1px solid #7a7d81;
    border-left: 1px solid #7a7d81;
    height: 50px;
    width: 50px;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #1d1e1f;
    }

.table-bordered td, .table-bordered th {
    border: 1px solid transparent;
}

/* arrows */

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, transparent, transparent) !important;
    background-position: calc(100% - 11px) calc(1em + -2px), calc(100% - 6px) calc(1em + -2px), 100% 0 !important;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
    background-repeat: no-repeat !important;
}

a:hover {
    color: #83beff;
    text-decoration: underline;
}

select.transparent {
    color: white;
    background: transparent;
    border-radius: 20px;
}

option.txtclr {
    color: grey;
}

.owl-theme .owl-nav {
    /* margin-top: -35px !important; */
    margin-top: -8px !important;
    font-size: xxx-large !important;
    color: white;
}

.owl-theme .owl-dots .owl-dot {
    display: none !important;
}

.owl-prev {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}

.owl-next {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.owl-theme .owl-nav [class*=owl-] {
    margin: 12px -20px !important;
}

.download-btn {
    height: 21px;
    width: 21px !important;
    float: right;
    border: 1px solid #bec2c5;
    padding: 4px;
    border-radius: 20px;
    margin-left: 3px;
}

.notification-badge {
    position: relative;
    right: 5px;
    top: -18px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 2px 6px 5px 6px;
}

input.sm-height {
    height: 2rem !important;
}

button.sm-height {
    height: 2.1rem !important;
}

.top-card-icon-size {
    padding: 5px 15px;
    border-radius: 50%;
}

.top-card-icon-color {
    color: #272c32a6;
    font-weight: bold;
}

.select-box-style {
    width: 80px;
    float: right;
    height: 20px;
    padding: 0px 8px;
    font-size: x-small;
}

.jvectormap-zoomin {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.jvectormap-zoomout {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.datepick {
    background: #3e4146;
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid #ccc;
    width: auto;
    border-radius: 20px;
    color: white !important;
    font-size: smaller;
    position: absolute;
    top: 0;
    margin-top: 67px;
}

.bx-shadow {
    box-shadow: 1px 1px 6px -4px;
}

.sales-person-heading {
    line-height: 25px;
    margin-bottom: 0px;
}

.dropdown-sales-person {
    float: right;
    font-size: 22px;
    margin: -2px -10px 0px 0px;
}

.table-css-res {
    padding: 0px;
    border-radius: 20px !important;
    margin-bottom: -14px;
    background-color: #272c32;
}

.map-text {
    font-size: smaller;
    margin-bottom: 0px;
    line-height: 15px;
}

.map-text-figures {
    line-height: 30px;
    margin-right: 5px;
    font-size: small;
}

.progress {
    background-color: #d0d0d0eb !important;
}

.modal-change {
    border-radius: 10px !important;
    border: 3px solid #ffffff8f !important;
}

.modal-cross-btn-position {
    position: absolute;
    top: 0;
    right: 0;
    margin: -20px;
    border-radius: 50%;
}

.row1-mobile-view {
    margin-left: 0px;
    margin-right: -30px;
    margin-bottom: -10px;
}

.row2-mobile-view {
    margin-left: -15px;
    margin-bottom: -10px;
}

.card-bottom-text {
    margin-top: 10px;
    margin-bottom: -10px;
}
