
@{
    ViewData["Title"] = " List Page";
    Layout = "~/Views/Shared/MOMLayout.cshtml";
}

<!--Grid Control-->
<link href="~/MOMUI/Design/css/grid.css" rel="stylesheet" />
<!--File Upload Control-->
<link href="~/MOMUI/Design/js/plugins/dropify/css/dropify.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="~/MOMUI/Design/css/pikaday.css" rel="stylesheet" />


<script type="text/javascript">


    function CreditHoldnotyConfirm() {
        noty({
            dismissQueue: true,
            layout: 'topCenter',
            theme: 'noty_theme_default',
            animateOpen: { height: 'toggle' },
            animateClose: { height: 'toggle' },
            easing: 'swing',
            text: 'Some location(s) are on credit hold. Would you like to exclude contracts for locations on credit hold?',
            type: 'alert',
            speed: 500,
            timeout: false,
            closeButton: false,
            closeOnSelfClick: true,
            closeOnSelfOver: false,
            force: false,
            onShow: false,
            onShown: false,
            onClose: false,
            onClosed: false,
            buttons: [
                {
                    type: 'btn-primary', text: 'Yes', click: function ($noty) {
                        $noty.close();

                        $("#lnkExclude").click();

                    }
                },
                {
                    type: 'btn-warring', text: 'No', click: function ($noty) {
                        $noty.close();

                        $("#lnkInclude").click();

                    }
                }
                ,
                {
                    type: 'btn-danger', text: 'Cancel', click: function ($noty) {
                        $noty.close();

                    }
                }
            ],
            modal: true,
            template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
            cssPrefix: 'noty_',
            custom:
            {
                container: null
            }
        });
    }




    function AddInvoiceClick(hyperlink) {

        if (validateForm()) {

            if (confirm('You are about to process invoices for selected period. This process will generate invoices for eligible accounts. Are you sure you want to proceed?')) { return true; } else { return false; }
        }
        else return false;
    }

    // For Avoid Resubmit From
    function AvoidResubmit() {
        $("#AvoidResubmit").click();
    }


    $(document).ready(function () {

        $('.ddlTerms').hover(
            function () { $(this).removeClass('focus') }
        )
        ///////////// Ajax call for customer auto search ////////////////////
        var query = "";
        function dtaa() {
            this.prefixText = null;
            this.con = null;
            this.custID = null;
        }
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                var dtaaa = new dtaa();
                dtaaa.prefixText = request.term;
                query = request.term;
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "CustomerAuto.asmx/GetCustomer",
                    //data: '{"prefixText":' + JSON.stringify(request.term) + ',"con":' + JSON.stringify($('ctl00_ContentPlaceHolder1_hdnCon').value) + '}',
                    data: JSON.stringify(dtaaa),
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        response($.parseJSON(data.d));
                    },
                    error: function (result) {
                        alert("Due to unexpected errors we were unable to load customers");
                    }
                    //                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                    //                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                    //                            alert(err.Message);
                    //                        }
                });
            },
            select: function (event, ui) {
                $("#txtCustomer").val(ui.item.label);
                $("#hdnPatientId").val(ui.item.value);
                $("#txtLocation").focus();
                $("#txtLocation").val("");
                $("#hdnLocId").val("");
                //                 $('ctl00_ContentPlaceHolder1_btnSelectCustomer').click();
                return false;
            },
            focus: function (event, ui) {
                $("#txtCustomer").val(ui.item.label);
                return false;
            },
            minLength: 0,
            delay: 250
        })
            .data("ui-autocomplete")._renderItem = function (ul, item) {
                var result_item = item.label;
                var result_desc = item.desc;
                var x = new RegExp('\\b' + query, 'ig'); // notice the escape \ here...
                result_item = result_item.replace(x, function (FullMatch, n) {
                    return '<span class="highlight">' + FullMatch + '</span>'
                });
                if (result_desc != null) {
                    result_desc = result_desc.replace(x, function (FullMatch, n) {
                        return '<span class="highlight">' + FullMatch + '</span>'
                    });
                }
                return $("<li></li>")
                    .data("ui-autocomplete-item", item)
                    .append("<a>" + result_item + ", <span style='color:Gray;'>" + result_desc + "</span></a>")
                    .appendTo(ul);
            };


        ///////////// Ajax call for location auto search ////////////////////
        var queryloc = "";
        $("#txtLocation").autocomplete(
            {
                source: function (request, response) {
                    //                        if ($('ctl00_ContentPlaceHolder1_hdnPatientId').value != '') {
                    var dtaaa = new dtaa();
                    dtaaa.prefixText = request.term;
                    dtaaa.custID = 0;
                    if ($("#hdnPatientId").val() != '') {
                        dtaaa.custID = $("#hdnPatientId").val();
                    }
                    queryloc = request.term;
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "CustomerAuto.asmx/GetLocation",
                        //                              data: "{'prefixText':'" + request.term + "','con':'" + $('ctl00_ContentPlaceHolder1_hdnCon').value + "','custID':" + $('ctl00_ContentPlaceHolder1_hdnPatientId').value + "}",
                        data: JSON.stringify(dtaaa),
                        dataType: "json",
                        async: true,
                        success: function (data) {
                            response($.parseJSON(data.d));
                        },
                        error: function (result) {
                            alert("Due to unexpected errors we were unable to load customers");
                        }

                    });

                },
                select: function (event, ui) {
                    $("#txtLocation").val(ui.item.label);
                    $("#hdnLocId").val(ui.item.value);
                    //                        $('ctl00_ContentPlaceHolder1_btnSelectLoc').click();
                    return false;
                },
                focus: function (event, ui) {
                    $("#txtLocation").val(ui.item.label);
                    return false;
                },
                minLength: 0,
                delay: 250
            })
            .data("ui-autocomplete")._renderItem = function (ul, item) {
                var result_item = item.label;
                var result_desc = item.desc;
                var x = new RegExp('\\b' + queryloc, 'ig'); // notice the escape \ here...
                result_item = result_item.replace(x, function (FullMatch, n) {
                    return '<span class="highlight">' + FullMatch + '</span>'
                });
                if (result_desc != null) {
                    result_desc = result_desc.replace(x, function (FullMatch, n) {
                        return '<span class="highlight">' + FullMatch + '</span>'
                    });
                }
                return $("<li></li>")
                    .data("ui-autocomplete-item", item)
                    .append("<a>" + result_item + ", <span style='color:Gray;'>" + result_desc + "</span></a>")
                    .appendTo(ul);
            };


        //            $("#<%--<%=pnlOptionsHeader.ClientID%>--%>").click(function() {
        //                $("#<%--<%=pnlOptions.ClientID%>--%>").slideToggle();
        //                return false;
        //            });


        ///////////// Validations for auto search ////////////////////
        $("#txtCustomer").keyup(function (event) {
            var hdnPatientId = $("#hdnPatientId");
            if ($("#txtCustomer").val() == "") {
                hdnPatientId.val("");
            }
        });

        $("#txtLocation").keyup(function (event) {
            var hdnLocId = $("#hdnLocId");
            if ($("#txtLocation").val() == "") {
                hdnLocId.val("");
            }
        });

        $("#ddlSpecialNotes").change(function () {
            $("#gvOpenCalls").css("display", "none");
        })
        //TextboxState();

        $("#ddlMonths").change(function () {
            // debugger;
            $("#gvOpenCalls").css("display", "none");
            var selectedVal = $("#ddlMonths option:selected").attr('value');

            var invoiceDt = $("#txtInvoiceDt").val();
            var dt = new Date(invoiceDt);
            var mm;
            var yy;
            var dd;
            if (invoiceDt != '') {
                dd = '1';
                yy = dt.getFullYear();
            }

            var newInvoiceDt = (parseInt(selectedVal) + 1).toString() + '/' + dd + '/' + yy;
            $("#txtInvoiceDt").val(newInvoiceDt);
        });

        $("#ddlYears").change(function () {
            // debugger;
            $("#gvOpenCalls").css("display", "none");
            var selectedVal = $("#ddlYears option:selected").attr('value');

            var invoiceDt = $("#txtInvoiceDt").val();
            var dt = new Date(invoiceDt);
            var mm;
            var yy;
            var dd;
            if (invoiceDt != '') {
                dd = '1';
                mm = dt.getMonth();
                yy = dt.getFullYear();
            }

            var newInvoiceDt = (parseInt(mm) + 1) + '/' + dd + '/' + selectedVal;
            $("#txtInvoiceDt").val(newInvoiceDt);
        });
    });

    function cancel() {
        window.parent.$("#hideModalPopupViaServer").click();
    }
    function cancel() {
        window.parent.$("#btnCancel").click();

    }


    ///////////// Custom validator function for customer auto search  ////////////////////
    function ChkCustomer(sender, args) {
        var hdnPatientId = $("#hdnPatientId");
        if (hdnPatientId.val() == "") {
            args.IsValid = false;
        }
    }

    ///////////// Custom validator function for location auto search  ////////////////////
    function ChkLocation(sender, args) {
        var hdnLocId = $("#hdnLocId");
        if (hdnLocId.val() == "") {
            args.IsValid = false;
        }
    }

    ///////////// Check Date valid ////////////////////
    function isDate(txtDate) {
        var currVal = txtDate;
        if (currVal == '')
            return false;
        //Declare Regex
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern); // is format OK?
        if (dtArray == null)
            return false;
        //Checks for mm/dd/yyyy format.
        dtMonth = dtArray[1];
        dtDay = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12)
            return false;
        else if (dtDay < 1 || dtDay > 31)
            return false;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return false;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return false;
        }
        return true;
    }
    ///////////// Validate Form ////////////////////
    function validateForm() {
        //debugger;
        var check = false;
        var msg = "";
        var invoiceDate = $(".txtInvoiceDt").val();
        var postingDate = $(".txtPostDt").val();
        var paymentTearm = $(".ddlTerms").val();
        var remark = $(".txtRemark").val();
        var checkRequireInvoiceDt = $("[id$='_vceInvoiceDt_popupTable']").is(":visible");
        var checkRequirePostingDt = $("[id$='_vcePostDt_popupTable']").is(":visible");
        var checkRequireRemark = $("[id$='_vceNotes_popupTable']").is(":visible");


        if (checkRequireInvoiceDt || checkRequirePostingDt || checkRequireRemark) {
            check = false;
            return check;
        }

        if (invoiceDate.length === 0) {
            msg = "Please set a date range."
            alert(msg);
            check = false;
            return check;
        }
        else if (invoiceDate.length > 0 && !isDate(invoiceDate)) {
            msg = "Invoice Date is invalid. Please set a date range again."
            alert(msg);
            check = false;
            return check;
        }
        else {
            check = true;
        }

        if (postingDate.length === 0) {
            msg = "Please set a date range."
            alert(msg);
            check = false;
            return check;
        }
        else if (postingDate.length > 0 && !isDate(postingDate)) {
            msg = "Posting Date is invalid. Please set a date range again."
            alert(msg);
            check = false;
            return check;
        }
        else {
            check = true;
        }

        if (paymentTearm == "") {
            msg = "Please select Payment Terms."
            $(".ddlTerms").addClass("focus");
            alert(msg);
            check = false;
            return check;
        }
        else {
            check = true;
        }

        if (remark.length == 0) {
            msg = "Please input Remark."
            alert(msg);
            check = false;
            return check;
        }
        else {
            check = true;
        }

        return check;
    }

    ///////////// Validate Form ////////////////////
    function setValuePostingDate() {
        var invoiceDate = $(".txtInvoiceDt").val();

        $(".txtPostDt").val(invoiceDate);
        $("[id$='_popupTable'] .ajax__validatorcallout_innerdiv").click();
        $(".txtPostDt").focus();
        $(".txtInvoiceDt").focus();


    }

    ///////////// Check Delete ////////////////////
    function CheckDelete() {
        var checkNumberRow = 0;
        var valueRowChecked = "";
        valueRowChecked = $(".rgRecurringInvoice input[type='checkbox']:checked").closest("tr").find("a").eq(0).text();
        var checkCheckboxChecked = $(".rgRecurringInvoice input[type='checkbox']:checked").length;

        if (checkCheckboxChecked === 1) {
            checkNumberRow = 1;
        }
        else if (checkCheckboxChecked > 1) {
            checkNumberRow = 2;
        }


        if (checkNumberRow === 1) {
            return confirm('Are you sure you want to remove contract [' + valueRowChecked + '] from this period?');
        }
        else if (checkNumberRow === 2) {
            return confirm('Are you sure you want to remove selected contracts from this period?');
        }
        else {
            alert('Please select Invoice.')
            return false;
        }
    }

    ///////////// Select all checkbox ////////////////////
    function checkAllChecBox() {
        var checked = $(".chkSelectAll input").is(":checked");
        if (checked) {
            $(".chkSelect input").prop("checked", true)
        }
        else {
            $(".chkSelect input").prop("checked", false)
        }
    }

    ///////////// Unselect all checkbox ////////////////////
    function unCheckSelectAll() {
        var checked = $(".chkSelect input").is(":checked");
        var checkedAll = $(".chkSelectAll input").is(":checked");
        var checkCountCheckbox = $(".chkSelect input:checked").length;
        var checkCountCheckboxSelected = $(".chkSelect input").length
        if (checked && checkedAll) {
            $(".chkSelectAll input").prop("checked", false);
        }

        if (checkCountCheckbox === checkCountCheckboxSelected) {
            $(".chkSelectAll input").prop("checked", true);
        }

    }

    ///////////// Hide select all checkbox ////////////////////
    function hideSelectAllChkb() {
        $(".chkSelectAll").hide();
    }
    ///////////// Show select all checkbox ////////////////////
    function showSelectAllChkb() {
        $(".chkSelectAll").show();
    }


</script>
<style type="text/css">
    .ModalPopupBG {
        background-color: black;
        filter: alpha(opacity=50);
        opacity: 0.7;
    }

    [id$='vceNotes_popupTable'] {
        width: 200px;
        top: -61px !important;
    }

    [id$='_RadAjaxPanel_RecurringInvoice'] .raDiv {
        background-position: top !important;
    }

    .ddlAddNewReport {
        display: none;
    }

    .textarea-border {
        border: 1px solid #aaa !important;
        border-radius: 5px !important;
        padding-left: 10px !important;
    }

    .ddlYears {
        margin-left: -32px;
        width: 125px !important;
    }

    .ddlMonths {
        width: 125px !important;
    }

    .validationtooltip {
        top: -61px;
    }

    .model-popup-body-print-invoce {
        background-color: #316b9d;
        height: 34px;
        padding: 5px 5px 0 15px;
        font-weight: bold;
        color: white;
    }

    .close_button_Form {
        cursor: pointer;
    }

    .focus {
        border-bottom: 2px solid #4598DA !important;
        color: #4598DA;
    }

    .TaxType {
        margin-top: 25px;
        width: 150px;
    }
</style>

<!--start container-->

<div class="divbutton-container">
    <div id="divButtons" class="">
        <div id="breadcrumbs-wrapper">
            <header>
                <div class="container row-color-grey">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="row">
                                <div class="page-title"><i class="mdi-content-reply-all"></i>&nbsp;Recurring Invoices</div>
                                <div class="buttonContainer">
                                    <div class="btnlinks">
                                        <a ID="LinkButton2" CausesValidation="true" ToolTip="Process" ValidationGroup="Invoice" Enabled="true" onclick="return AddInvoiceClick(this)">Process</a>
                                    </div>

                                    <div class="btnlinks">
                                        <a class="dropdown-button" data-beloworigin="true" href="CustomersReport.aspx?type=Customer" data-activates="dropdown1">
                                            Reports
                                        </a>
                                    </div>
                                    <ul id="dropdown1" class="dropdown-content ddlAddNewReport">
                                        <li>
                                            <a href="CustomersReport.aspx?type=Customer" class="-text">Add New Report</a>
                                        </li>
                                        <li>

                                            <a id="lnk_InvoiceMaint" href="CustomersReport.aspx?type=Customer" class="-text" title="Process" style="float: left" enabled="true" onclick="javascript:return confirm('You are about to process invoices for selected period. This process will generate invoices for eligible accounts. Are you sure you want to proceed?');">PESMCT MAINT</a>
                                        <li>

                                            <a id="lnk_InvoiceException" href="#" class="-text" title="Process" style="float: left" enabled="true" onclick="javascript:return confirm('You are about to process invoices for selected period. This process will generate invoices for eligible accounts. Are you sure you want to proceed?');">PESMCTPESMCT EXCEPTION</a>
                                        <li>

                                            <a id="lnk_InvoiceLNY" href="#" class="-text" title="Process" style="float: left" enabled="true" onclick="javascript:return confirm('You are about to process invoices for selected period. This process will generate invoices for eligible accounts. Are you sure you want to proceed?');">Invoice-LNY</a>
                                    </ul>

                                    <div class="btnlinks menuAction">
                                        <a onclick="DropdownMenu()" class="dropbtn" style="cursor: pointer;">
                                            Actions
                                        </a>
                                    </div>
                                    <ul id="drpMenu" class="nomgn hideMenu menuList">
                                        <li>
                                            <div class="btnlinks btnDeleteContainer" style="margin-bottom: 4px;">
                                                <a id="lnk_InvoiceDelete" onclick="return CheckDelete()">Delete</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="btnlinks">
                                                <a ID="lnkExcel">Export to Excel</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btnclosewrap">
                                    <a ID="lnkClose" ToolTip="Close" CausesValidation="false"><i class="mdi-content-clear"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
        </div>

        <div class="container breadcrumbs-bg-custom">
            <div class="row">
                <div class="col s12 m12 l12 right-details">
                    <div class="row">
                        <div class="tblnks">
                            <ul class="anchor-links">
                                <li id="li1"><a href="#accrdlogs">Logs</a></li>
                            </ul>
                        </div>

                        <ul class="anchor-links center-on-small-only right-align ">
                            <li>
                                <label ID="lblLastProcessDate" class="title_text_Name_1"></label>
                            </li>
                            <li>
                                <label ID="lblProcessPeriod" class="title_text_Name_1 "></label>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="alert alert-warning divAlert" id="divSuccess" style="color: red; display:none">
            <button type="button" class="close" onclick="$('.divAlert').hide()">×</button>
            These month/year period is closed out. You do not have permission to add/update this record.
        </div>
        <div class="srchpane-advanced">
            <div class="srchpaneinner">
                <div class="srchtitle srchtitlecustomwidth" style="min-width: 75px;">
                    Month
                </div>
                <div class="srchinputwrap">
                    <div class="row">
                        <select ID="ddlMonths" style="width:125px; margin-left: 10px;" class="browser-default selectst selectsml ddlMonths" AutoPostBack="false">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="srchtitle srchtitlecustomwidth" style="padding-left: 15px;">
                    Year
                </div>
                <div class="srchinputwrap">
                    <div class="row">
                        <select ID="ddlYears" style="width:125px; margin-left: 0px;" class="browser-default selectst selectsml ddlYears" AutoPostBack="false">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="srchtitle srchtitlecustomwidth" style="padding-left: 20px;">
                    Special Notes
                </div>
                <div class="srchinputwrap">
                    <div class="row">
                        <select ID="ddlSpecialNotes" style="width:100px; margin-left: 14px;" class="browser-default selectst selectsml"
                                TabIndex="7" AutoPostBack="false">
                            <option Value="-1">All</option>
                            <option Value="1">Yes</option>
                            <option Value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="srchinputwrap srchclr btnlinksicon" style="margin-left: 26px;">

                    <a ID="LinkButton1" class="submit" CausesValidation="false"><i class="mdi-action-search" style="margin-left: 0 !important;"></i></a>
                </div>

            </div>

            <div class="srchpaneinner">
                <div class="srchtitle srchtitlecustomwidth" style="padding-left: 15px;">
                    Customer
                </div>

                <div class="srchinputwrap">
                    <input type="text" ID="txtCustomer" autocomplete="off" class="validate srchcstm" style="width:315px" />
                    @Html.Hidden("hdnPatientId")
                </div>
                <div class="srchtitle srchtitlecustomwidth" style="padding-left: 44px;">
                    Location
                </div>

                <div class="srchinputwrap">
                    <input type="text" ID="txtLocation" autocomplete="off" class="validate srchcstm" style="width:315px" />
                    @Html.Hidden("hdnLocId")
                </div>

                <div class="srchinputwrap col lblsz2 lblszfloat">
                    <div class="row">
                        <span class="tro trost">
                            <a ID="lnkClear">Clear</a>
                        </span>
                        <span class="tro trost">
                            <label ID="lblRecordCount" style="font-size:0.9rem">0 Record(s) found</label>
                        </span>
                    </div>
                </div>

                <a ID="AvoidResubmit" CausesValidation="false"></a>
            </div>

            <div class="srchpaneinner">
                <div class="form-section-row">
                    <div class="section-ttle"><label style="float: left; font-size: 14px; color: black;">Set Options</label></div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                    </div>
                    <div class="form-section-row">
                        <div class="form-section3">
                            <div class="input-field col s5">
                                <div class="row">
                                    <label for="datepicker">Invoice Date</label>
                                    <input type="text" ID="txtInvoiceDt" class="datepicker_mom txtInvoiceDt" MaxLength="28" />
                                </div>
                            </div>
                            <div class="input-field col s2">
                                <div class="row">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="input-field col s5">
                                <div class="row">
                                    <label for="txtPostDt">Posting Date</label>
                                    <input type="text" ID="txtPostDt" class="datepicker_mom txtPostDt" MaxLength="28" />
                                </div>
                            </div>
                        </div>
                        <div class="form-section3-blank">
                            &nbsp;
                        </div>
                        <div class="form-section3">

                            <div class="input-field col s12">
                                <div class="row">
                                    <label class="drpdwn-label">Payment Terms</label>
                                    <select ID="ddlTerms" TabIndex="6" class="browser-default ddlTerms">
                                        <option Value="">Choose your option</option>
                                        <option Value="0">Upon Receipt</option>
                                        <option Value="1">Net 10 Days</option>
                                        <option Value="2">Net 15 Days</option>
                                        <option Value="3">Net 30 Days</option>
                                        <option Value="4">Net 45 Days</option>
                                        <option Value="5">Net 60 Days</option>
                                        <option Value="6">2%-10/Net 30 Days</option>
                                        <option Value="7">Net 90 Days</option>
                                        <option Value="8">Net 180 Days</option>
                                        <option Value="9">COD</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-section3-blank">
                            &nbsp;
                        </div>
                        <div class="form-section3">
                        </div>
                    </div>
                    <div class="form-section-row" id="divDropDownlist">
                        <div class="form-section3">
                            <div class="input-field col s2">
                                <div class="row">
                                    <label for="drpdwn-label">Taxable</label>
                                    <select ID="ddlTaxType" AutoPostBack="true" class="browser-default TaxType">
                                        <option Value="All">All</option>
                                        <option Value="PST">HST/PST Only</option>
                                        <option Value="GST">GST Only</option>
                                        <option Value="None">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s2" id="divCheckBox">
                        <div class="checkrow">
                            <label for="chkTaxable">Taxable</label>
                            <span class="filled-in" style="float:left;">
                                <input type="checkbox" ID="chkTaxable" TabIndex="5" />
                            </span>
                        </div>
                        <div class="input-field col s5 form-section-row" style="padding-left: 0;">
                        </div>
                    </div>

                    <div class="input-field col s2" id="div1">
                        <div class="checkrow">
                            <label for="chkIncludeContractRemarks">Include Contract Remarks</label>
                            <span class="filled-in" style="float:left;">
                                <input type="checkbox" ID="chkIncludeContractRemarks" TabIndex="6" />
                            </span>

                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div class="row">
                            <textarea ID="txtRemark" rows="2" cols="20" class="textarea-border materialize-textarea txtRemark"></textarea>
                            <label for="txtRemark" class="txtbrdlbl active" id="txtbrdlbl" enableviewstate="true">Invoice Remarks</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="srchpaneinner">
            </div>
        </div>

        <div class="grid_container">
            <div class="form-section-row" style="margin-bottom: 0 !important;">
                <div class="RadGrid RadGrid_Material">

                </div>
            </div>
        </div>
        <div>
            @*<a href="#" value="Add New" id="btnAddNew" onclick="Javascript:storeAcctNum();"></a>

            <div class="popup_Buttons" style="display: block">
                <input id="btnOkay" value="Done" type="button" />
                <input id="btnCancel" value="Cancel" type="button" />
            </div>

            <div id="pnlRecurringInv" class="table-subcategory" style="display: block; width: 560px; height: 175px; background: #fff;">
                <div class="popup_Container">
                    <div class="popup_Body">
                        <div class="model-popup-body model-popup-body-print-invoce" style="padding-bottom: 24px;">
                            <label class="title_text" Style="float: left" ID="lblVoidCheck">Print Invoice</label>

                            <div style="float: right;">
                                <a class="save_button" ID="lnkSave" Style="color: white; margin-right: 8px;"
                                   TabIndex="38" CausesValidation="true" ValidationGroup="SubCheck"> Next </a>

                                <a class="save_button" ID="lbtnClose" onclick="cancel();" Style="color: white; margin-right: 8px;" CausesValidation="false"> Close </a>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-lg-12 col-md-12" style="padding: 7px 10px 0 10px;">
                            <div class="com-cont">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-col">
                                        <div class="fc-input" style="padding-left: 20px; width: 110px;">
                                            @Html.Hidden("hdnCDID")
                                            <div class="form-group">
                                                <div style="float: left" class="checkrow">
                                                    <label>Starting Invoice # </label>
                                                </div>
                                                <div style="margin-left: 100px">
                                                    <input type="text" ID="txtStartInv" class="form-control" style="width:150px" />
                                                </div>
                                                <br />
                                                <div style="float: left" class="checkrow">
                                                    <label>Ending Invoice # </label>
                                                </div>
                                                <div style="margin-left: 100px">
                                                    <input type="text" ID="txtEndInv" class="form-control" style="width:150px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-col">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <input type="button" class="btn-box" ID="lnkExclude" Style="display: block"
                   CausesValidation="false" value="Yes" />

            <input type="button" class="btn-box" ID="lnkInclude" Style="display: block"
                   CausesValidation="false" value="No" />*@

        </div>
    </div>

    <div class="accordian-wrap">
        <div class="col s12 m12 l12">
            <div class="row">
                <ul class="collapsible popout collapsible-accordion form-accordion-head" data-collapsible="expandable">
                    <li id="tbLogs">
                        <div id="accrdlogs" class="collapsible-header accrd accordian-text-custom"><i class="mdi-content-content-paste"></i><label style="font-size:1.0rem; float:left;">Logs</label></div>
                        <div class="collapsible-body">
                            <div class="form-content-wrap">
                                <div class="form-content-pd">
                                    <div class="grid_container">
                                        <div class="form-section-row" style="margin-bottom: 0 !important;">
                                            <div class="RadGrid RadGrid_Material">


                                            </div>

                                        </div>
                                    </div>

                                    <div class="cf"></div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--end container-->
@Html.Hidden("hdnCreditHold", "0")

<script src="~/MOMUI/Design/js/moment.js"></script>
<script src="~/MOMUI/Design/js/pikaday.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $('a[href^="#accrd"]').on('click', function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);
            if ($(target).hasClass('active') || target == "") {

            }
            else {
                $(target).click();
            }

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top - 125
            }, 900, 'swing');
        });

        $('#addinfo').hide();
        $('.add-btn-click').click(function () {

            $("#addinfo").slideToggle('2000', "swing", function () {
                // Animation complete.

            });

            if ($('.divbutton-container').height() != 65)
                $('.divbutton-container').animate({ height: 65 }, 500);
            else
                $('.divbutton-container').animate({ height: 350 }, 500);


        });

        $(window).scroll(function () {
            if ($(window).scrollTop() >= 0) {
                $("#divButtons").addClass('fixed-header');
            }
            if ($(window).scrollTop() <= 0) {
                $("#divButtons").removeClass('fixed-header');
            }
        });

    });
</script>